.filter {
    .container {
        padding-top: 15px;
        .filter-title {
            display: inline-block;
            font-weight: bold;
        }
        .filter-item-container{
            display: inline-block;
            margin: 0 5px -10px
        }
        .reset-btn {
            font-size: 12px;
            float: right;
        }
    }
}
